:root {
    /* colors..... */
    --black: #000000;
    --white: #ffffff;
    --text-meuted: rgba(112, 1, 23, 0.3);
    --text-meuted2: rgba(112, 1, 23, 0.1);
    --brand-color: #700117;
}

/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
}

p {
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

/* common css end */